/* 深色模式 */
body.dark {
  --text-color: #d1d1d1;
}

main {
  background: inherit;        /* 繼承 body 背景漸層 */
  padding: 40px 20px;
  max-width: 1200px;
  margin: 20px auto 50px;    /* 上下稍微拉開，讓陰影看起來舒服 */
  color: var(--text-color);   /* 文字跟 body 一樣 */
  border-radius: 20px;        /* 圓角 */
  box-shadow: 0 8px 20px rgba(0,0,0,0.3); /* 陰影 */
  transition: color 0.5s ease, box-shadow 0.5s ease, background 0.8s ease;
}

.timeline {
  margin: 5em auto;
  max-width: 34.15em;
}
